html, body {
    margin: 0;
    padding: 0;

    background: #000;

    font-family: sans-serif;
}


#intro-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#intro-container button {
    cursor : pointer;
    display: none;
}



#option-container {
    position: absolute;
    top: 0;
    letter-spacing: 0;
    background-color: rgba(0, 0, 0, 0.20);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 10px;

    border-bottom-right-radius: 10px;
}

#option-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;


}

#option-container > div[id^="radio"] {
    flex-direction: row;
}

#option-container > div[id^="radio"] label{
    cursor: pointer;
}

#option-container > div[id^="radio"] input {
    margin-left: 10px;
}




#option-container > div input {
   margin: 10px 0;
}


input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 5px 0;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 0.1px #ffffff, 0px 0px 0px #ffffff;
    background: #ffffff;
    border-radius: 25px;
    border: 0px solid rgba(255, 255, 255, 0);
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    border: 0px solid rgba(255, 255, 255, 0);
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ffffff;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 0.1px #ffffff, 0px 0px 0px #ffffff;
    background: #ffffff;
    border-radius: 25px;
    border: 0px solid rgba(255, 255, 255, 0);
}
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    border: 0px solid rgba(255, 255, 255, 0);
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #f2f2f2;
    border: 0px solid rgba(255, 255, 255, 0);
    border-radius: 50px;
    box-shadow: 0px 0px 0.1px #ffffff, 0px 0px 0px #ffffff;
}
input[type=range]::-ms-fill-upper {
    background: #ffffff;
    border: 0px solid rgba(255, 255, 255, 0);
    border-radius: 50px;
    box-shadow: 0px 0px 0.1px #ffffff, 0px 0px 0px #ffffff;
}
input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    border: 0px solid rgba(255, 255, 255, 0);
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: #ffffff;
    cursor: pointer;
    height: 5px;
}
input[type=range]:focus::-ms-fill-lower {
    background: #ffffff;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ffffff;
}
