html, body {
    margin: 0;
    padding: 0;

    background: #000;

    font-family: sans-serif;
}

#option-container {
    position: absolute;
    top: 0;
    letter-spacing: 0;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;


}
